<div class="d-print-none text-center mb-5">
  <a href="javascript:window.print();">印刷の実行</a>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @receipt.no %>
</p>

<p>
  <strong>Billing date:</strong>
  <%= @receipt.billing_date %>
</p>

<p>
  <strong>customer_name:</strong>
  <%= @receipt.customer_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @receipt.price %>
</p>

<p>
  <strong>Proviso:</strong>
  <%= @receipt.proviso %>
</p>

<p>
  <strong>Issuer name:</strong>
  <%= @receipt.issuer_name %>
</p>

<p>
  <strong>Issuer address:</strong>
  <%= @receipt.issuer_address %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
